.filters {
    background-color: white;
    height: 70px;
    width: 100%;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    display: flex;
    align-items: center;
}

.filters .locations,
.filters .amenities {
    height: 100%;
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 30px;
}

.filters .locations {
    border-right: 1px solid #DDDDDD;
}

.filters h3 {
    font-weight: 600;
    margin: 0 0 5px 0;
}

.filters h4 {
    font-weight: 400;
    font-size: 14px;
    margin: 0;
}

.filters button {
    font-size: 18px;
    background-color: #FF5A5F;
    color: #FFFFFF;
    height: 48px;
    width: 20%;
    border: none;
    border-radius: 4px;
    margin-left: auto;
    margin-right: 30px;
    cursor: pointer;
}

.filters button:hover {
    opacity: 0.9;
}
