.places {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.places h1 {
    font-size: 30px;
    width: 100%;
    text-align: left;
    margin: 20px 0;
}

.places article {
    width: 390px;
    padding: 20px;
    margin: 20px;
    border: 1px solid #FF5A5F;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.places article h2 {
    font-size: 30px;
    text-align: center;
    margin: 0;
}
