.places {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.places h1 {
    font-size: 30px;
    width: 100%;
    text-align: left;
    margin: 20px 0;
}

.places article {
    width: 390px;
    padding: 20px;
    margin: 20px;
    border: 1px solid #FF5A5F;
    border-radius: 4px;
    position: relative;
}

.places article h2 {
    font-size: 30px;
    text-align: center;
    margin: 0 0 10px 0;
}

.places .price_by_night {
    color: #FF5A5F;
    border: 4px solid #FF5A5F;
    border-radius: 50%;
    min-width: 60px;
    height: 60px;
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 10px;
    right: 10px;
}

.places .information {
    height: 80px;
    border-top: 1px solid #DDDDDD;
    border-bottom: 1px solid #DDDDDD;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}

.places .max_guest,
.places .number_rooms,
.places .number_bathrooms {
    width: 100px;
    text-align: center;
    background-repeat: no-repeat;
    background-position: center top;
    padding-top: 45px;
}

.places .max_guest {
    background-image: url("../images/icon_group.png");
}

.places .number_rooms {
    background-image: url("../images/icon_bed.png");
}

.places .number_bathrooms {
    background-image: url("../images/icon_bath.png");
}

.places .user {
    margin: 10px 0;
}

.places .description {
    text-align: justify;
}
